body {
    margin: 0;
    font-family: sans-serif;
  }

  header {
    background-color: #000000;
    padding: 10px 5px;
  }

  nav ul {
    display: flex;              /* Torna os <li> horizontais */
    list-style: none;           /* Remove os marcadores */
    margin: 5px;
    padding: 5px;
    justify-content: center;    /* Centraliza os itens no nav */
  }

  nav ul li {
    margin: 0 17px;
  }

  nav ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
  }

  nav ul li a:hover {
    background-color: #ffffff;
    border-radius: 4px;
  }